@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
  text-align:center;
}


body {
  background-color:#d5e1ef;
  font-family:'Outfit', sans-serif;
  display:flex;
  height: 70vh
  display: flex;
  flex-direction: column;
  justify-content: center;
   
}

.qr-container{
    position: flex
    flex-direction:column;
    margin:0 auto;
    background-color: #FFFFFF;
    padding:1% 1% 0 1%;
    border-radius:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width:20rem;
    width:100%;
    margin-top:6.5rem;
}

img {
  border-radius:15px;
  display:block;
  align-items:center;
}

.qr-container > *{
    max-width: 20rem;
}

h1{
    color: hsl(218, 44%, 22%);
    font-size:1.5rem;
}

p{
    color: gray;
    font-size:1rem;
}
